*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#kontener-boczny{
    width: 17%;
    display: flex;
    float: left;
    background-color: rgb(240, 240, 240);
    padding: 0.5vh 0.5vw;
    height: 99vh;
    margin: 0 0.5vw 0 0;
    flex-direction: column;
    flex-wrap: wrap;
}
#glowny-kalendarz{
    width: 80%;
    display: flex;
    float: right;
    padding: 0.5vh 0.9vw 0.5vh 0.5vw;
    height: 99vh;
}

#rodzaj-zwolnienia {
    width: 17vw;
    display: flex;
    order: 1;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 0.5vh;
    padding: 0.5vh 0;
}
#rodzaj-zwolnienia-tekst{
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
    display:flex;
    order: -1;
}
#rodzaj-zwolnienia-legenda{
    border: 1px #2c3e50 solid;
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    order: 2;
    text-align: center;
    padding: 0.5vh 0.1vw 0.5vh 0;
}
#miesiace{
    display:flex;
    order: 2;
    height: 80vh;
}
