 * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 2vh;
}
#wyszukiwanie{
    width: 100vw;
    height: fit-content;
    display: flex;
    order: 1;
    align-items: center;
    flex-direction: row;
    background-color: rgb(240, 240, 240);
    padding: 1vh 1vw;
}
.tekst{
    width: 20vw;
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}
#wybor-daty-data{
    width: 40vw;
    height: 2vh;
    margin: 0.25vh 0.2vw;
}
#glowny-kalendarz{
    width: 100vw;
    height: 90vh;
    display: flex;
    order: 2;
    padding: 1vh 0.5vw;
}
#informacje{
    height: 2vh;
    float: right;
}
button.fc-wyborMiesiaca-button.fc-button-primary{
    display: none;
}
.fc-daygrid-dot-event .fc-event-title {
    font-weight: 500;
}
.fc .fc-daygrid-day-number {
    font-weight: 800;
}
